<h1>People</h1>
	
<p>
	<label for="search-box">Search:</label>
	<input type="search" name="search-box" data-ng-model="searchQuery">
</p>

<p>
	<label for="sort-by">Sort By:</label>
	<select data-ng-model="orderProp">
		<option value="personID">ID</option>
		<option value="firstName">First Name</option>
		<option value="lastName">Last Name</option>
	</select>
</p>

<div>
	<p>Columns to show:<br>
		<input type="checkbox" name="showPersonIDColumn" data-ng-model="showPersonIDColumn"><label for="showPersonIDColumn">Person ID</label>
		<input type="checkbox" name="showArchivedColumn" data-ng-model="showArchivedColumn"><label for="showArchivedColumn">Archived</label>
	</p>
	
	<p>Show archived records: <input type="checkbox" data-ng-model="showArchived" data-ng-true-value="1" data-ng-false-value="0"></p>
</div>

<table>
	<tr>
		<th data-ng-show="showPersonIDColumn">ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th data-ng-show="showArchivedColumn">Archived</th>
		<th>Edit</th>
	</tr>
	<tr data-ng-repeat="person in people | filter:searchQuery | showArchivedRecords:showArchived | orderBy:orderProp">
		<td data-ng-show="showPersonIDColumn">{{person.personID}}</td>
		<td>{{person.firstName}}</td>
		<td>{{person.lastName}}</td>
		<td data-ng-show="showArchivedColumn">{{person.archived | boolToAlpha}}</td>
		<td><a href="#/people/{{person.personID}}">Edit</a></td>
	</tr>
</table>